# Idea / PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# output-folders
container/
build/

# files from the mac
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Notebook
notebooks/*
*/notebooks/*

# Output
nohup.out

# Temporary Files
.ipynb_checkpoints/*
*/.ipynb_checkpoints/*

.virtual_documents/*
*/.virtual_documents/*
